| $('#settlement-details-modal-container').append("#{ escape_javascript render(partial: 'settlements/details_modal', locals: { settlement: @settlement }) }");
| $("#settlementDetailsModal").modal("show");